<% if logged_in? %>
  <%= render 'shared/logged_in_user_homepage' %>
<% else %>
  <%= render 'site_homepage' %>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>